// Your custom styles

.customHeader {
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    #000000bd 70%,
    #000000 95%
  );
}

.leftward {
  margin-left: 8rem;
  margin-top: 12rem;
}

body {
  background-color: #000000;
}


.header-top {
  height: 100vh;
  background-color: black;
  background-size: cover;
}



.header-text-xs {
  padding-top: 4rem;
  font-family: "Cinzel", serif;
  font-size: 2.4rem;
}

.sub-text-xs {
  margin-top: -3rem;
  margin-left: 1rem;
  word-wrap: none;
  white-space: nowrap;
  font-size: small;
}

.header-text-sm {
  padding-top: 4rem;
  margin-left:2rem;
  font-family: "Cinzel", serif;
  font-size: 3rem;
}

.sub-text-sm {
  margin-top: -3rem;
  margin-left: 6rem;
  word-wrap: none;
  white-space: nowrap;
  font-size: medium;
}

.header-text-md {
  padding-top: 4rem;
  margin-left: 2rem;
  font-family: "Cinzel", serif;
  font-size: 3.5rem;
}

.sub-text-md {
  margin-top: -3rem;
  margin-left: 6rem;
  word-wrap: none;
  white-space: nowrap;
  font-size: medium;
}

.header-text-lg {
  padding-top: 4rem;
  margin-left: 2rem;
  font-family: "Cinzel", serif;
  font-size: 4rem;
}

.sub-text-lg {
  margin-top: -3rem;
  margin-left: 9rem;
  word-wrap: none;
  white-space: nowrap;
  font-size: medium;
}

.header-text-xl {
  padding-top: 4rem;
  margin-left: 2rem;
  font-family: "Cinzel", serif;
  font-size: 5rem;
}

.sub-text-xl {
  margin-top: -3rem;
  margin-left: 12rem;
  word-wrap: none;
  white-space: nowrap;
  font-size: medium;
}
